#chess_board {
    height: 90vw;
    width: 90vw;
    border-style: solid;
    position:   relative;
    font-size:  0px;
}

.chess_piece {
    height: 11.25vw;
    width:  11.25vw;
    pointer-events: none;
}

.primary_chess_square, .secondary_chess_square {
    height: 11.25vw;
    width:  11.25vw;
    display: inline-block;
}

.highlighted_chess_square {
   background-color:    blue !important; 
}

.row_indicator, .col_indicator {
    font-size:  2vw;
    position:   absolute;
    font-family: Arial;
    font-weight: bold;
    color: white;
    mix-blend-mode: difference;
}

.row_indicator {
    left:       0.5vw;
}

.col_indicator {
    top:       0.5vw;
}