#chess_board {
    height: 90vw;
    width: 90vw;
    border-style: solid;
    position:   relative;
    font-size:  0px;
}

.chess_square {
    height: 11.25vw;
    width:  11.25vw;
}

.row_indicator {
    font-size:  3vw;
    position:   absolute;
    font-family: Arial;
    font-weight: bold;
    left:       0.5vw;
}